Tests: make-test-script
Depends: @,
         @builddeps@
Restrictions: allow-stderr

Test-Command: debian/tests/make-test-script valgrind
Depends: libtool-bin,
         valgrind,
         @,
         @builddeps@
Restrictions: allow-stderr

Tests: tools-test
Depends: file,
         libgd-tools
Restrictions: allow-stderr
